<header>
  <nav class="main-navigation" aria-label="Hoofdnavigatie">
    <!-- Logo (Home) links -->
    <a href="/" class="logo-link">
      <img class="logo" src="/assets/logo.svg" alt="Bieb in Bloei logo" width="80" height="80">
    </a>

    <!-- Navigatie rechts -->
    <button class="hamburger" aria-label="Open het navigatiemenu" title="Open het navigatiemenu">&#9776;</button>
    <ul class="nav">
      <li><a href="#">Projecten</a>
        <ul class="submenu">
          <li><a href="#">Stekjes</a></li>
          <li><a href="#">Zaden</a></li>
          <li><a href="#">Geveltuin</a></li>
          <li><a href="#">Groenebieb</a></li>
        </ul>
      </li>
      <li><a href="#">Agenda</a></li>
      <li><a href="#">Partners</a></li>
      <li><a href="#">Over</a></li>
      <li><a href="#">Contact</a></li>
    </ul>
  </nav>
</header>
